<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Chapter1.Properties.Settings.linqDemoConnectionString"
      connectionString="Data Source=DESKTOP-TH2B2US\sqlexpress;Initial Catalog=linqDemo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="XMLData" value="C:\Users\Michael\Dropbox\CSharpInDepth\fullsource\C# in Depth\OtherChapters\Chapter01\data.xml"/>
  </appSettings>
</configuration>